@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #724D38;
}

#wrap {
    min-width: 1400px;
    overflow-x: hidden;
}

/* header */
#header {
    height: 80px;
    background-color: #F4D0DE;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.logo {
    padding-top: 10px;
}

.util {
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
}

.util li {
    margin-left: 60px;
    color: #E83D69;
    font-weight: 600;
}

/* nav */
#nav {
    height: 54px;
    background-color: #FFF5D8;
}

.gnb {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-left: 86px;
}

.gnb li {
    margin: 0 30px;
    font-family: 'Cafe24Ssurround';
    font-size: 18px;
}

.gnb li:nth-child(3) {
    color: #E83D69;
}

/* visual */
#visual {
    width: 1320px;
    margin: 70px auto 100px;
    position: relative;
}

.section_title {
    font-family: 'Cafe24Ssurround';
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.section_explanation {
    font-style: normal;
    text-align: center;
    display: block;
    margin-top: 16px;
}

.pink {
    color: #E83D69;
}

.main_slide {
    height: 626px;
    position: relative;
    margin-top: 50px;
}

/* swiper */
.main_slide .swiper {
    width: 100%;
    height: 100%;
}

.main_slide .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_slide .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_slide .swiper-horizontal>.swiper-pagination-bullets,
.main_slide .swiper-pagination-bullets.swiper-pagination-horizontal,
.main_slide .swiper-pagination-custom,
.main_slide .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -43px);
}

.main_slide .swiper-pagination-bullet-active {
    background: #E83D69 !important;
    width: 40px !important;
    border-radius: 20px !important;
    transition: width 0.5s !important;
    opacity: 1 !important;
}

.main_slide .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px));
    display: inline-block;
    border-radius: 50%;
    background: #E83D69;
    opacity: 0.5;
}

.visual_character {
    position: absolute;
    top: 586px;
    left: -110px;
    z-index: 99;
}

/* menu */
#menu {
    background-color: #FFF7EE;
    padding: 70px 0 100px;
}

.inner_menu {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.menu_title {
    font-family: 'Cafe24Ssurround';
    font-size: 20px;
    font-weight: 700;
    color: #E83D69;
    margin: 40px 0 40px 10px;
}

.dount {
    display: flex;
    justify-content: space-between;
}

.dount li {
    width: 318px;
}

.dount li .menu_img_wrap {
    height: 254px;
    border-radius: 28px 28px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgcolor1 li:nth-child(1) .menu_img_wrap,
.bgcolor2 li:nth-child(2) .menu_img_wrap {
    background-color: #fff;
}

.bgcolor1 li:nth-child(2) .menu_img_wrap,
.bgcolor2 li:nth-child(1) .menu_img_wrap {
    background-color: #F4D0DE;
}

.bgcolor1 li:nth-child(3) .menu_img_wrap,
.bgcolor2 li:nth-child(4) .menu_img_wrap {
    background-color: #C1813D;
}

.bgcolor1 li:nth-child(4) .menu_img_wrap,
.bgcolor2 li:nth-child(3) .menu_img_wrap {
    background-color: #B3D78C;
}

.menu_img_wrap img {
    display: block;
}

.dount li p {
    text-align: center;
    font-size: 18px;
    background-color: #FFF5D8;
    border-radius: 0 0 28px 28px;
    padding: 10px 0;
}
.menu_character{
    position: absolute;
    right: -100px;
    bottom: -36px;
    z-index: 9;
}

/* event */
#event {
    background-color: #FBE9F0;
    padding: 70px 0 100px;
}

.inner_event {
    width: 1320px;
    margin: 0 auto;
}

.inner_event img {
    display: block;
}

.event1_wrap {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.event1 {
    width: 860px;
}

.event_cha {
    width: 400px;
}

.event_list {
    display: flex;
    justify-content: space-between;
}

.event_list li {
    width: 415px;
}

/* brand */
#brand {
    background-color: #FFF7EE;
    padding: 70px 0 100px;
}

.inner_brand {
    width: 1320px;
    margin: 0 auto;
}

.cha_list {
    display: flex;
    justify-content: space-between;
}

.cha_list li {
    width: 300px;
    text-align: center;
}

.cha_list li:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cha_list li h3 {
    font-family: 'Cafe24Ssurround';
    font-size: 20px;
    margin: 10px 0 16px;
    font-weight: 500;
}

.color1 {
    color: #F174A4;
}

.cha_list li h2 {
    font-family: 'Cafe24Ssurround';
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.cha_list li p{
    line-height: 24px;
    margin: 10px 0 30px;
}
.cha_list li:nth-child(2) p{
    margin-top: 30px;
}

/* delivery */
#delivery {
    background-color: #FBE9F0;
    padding: 70px 0 100px;
}

.inner_delivery {
    width: 1050px;
    margin: 0 auto;
}
.inner_delivery em{
    font-weight: 800;
}
.step_list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
}
.step{
    width: 250px;
}
.step strong{
    font-size: 25px;
    display: block;
    margin: 24px 0;
}
.step_img{
    position: relative;    
}
.step_img::before{
    content: url(../images/delivery/arrow.svg);
    position: absolute;
    top: 103px;
    left: -110px;
}
.step:nth-child(1) .step_img:before{
    display: none;
}
.gift_title {
    font-family: 'Cafe24Ssurround';
    font-size: 30px;
    margin: 44px 0 50px;
    font-weight: 500;
    text-align: center;
}
.gift{
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 25px;
}
.gift_img{
    height: 203px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* online */
#online{
    background-color: #FFF7EE;
    padding: 70px 0 100px;
}
.inner_online{
    width: 1100px;
    margin: 0 auto;
}
.online_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.online_list li{
    width: 260px;
    height: 320px;
    text-align: center;
}
.online_list li:nth-child(2){
    margin: 0 160px;
}
.online_list li:nth-child(4),
.online_list li:nth-child(5){
    margin: 0 80px;
    position: relative;
    top: -50px;
}
.online_list li p{
    margin-top: 10px;
}
.online_list li strong{
    display: block;
}

/* footer */
#footer{
    background: url(../images/footer/bg.svg) no-repeat center;
    height: 455px;
}
.inner_footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.inner_footer p{
    padding-top: 165px;
    font-size: 14px;
    line-height: 30px;
}
.sns_wrap{
    padding-top: 140px;
}
.sns_wrap strong{
    font-size: 17px;
    display: block;
    padding-left: 6px;
}
.sns{
    display: flex;
    margin-top: 10px;
}
#copyright{
    background-color: #B3D78C;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 30px 0;
}


.top{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E83D69;
    color: #fff;
    font-family: 'Cafe24Ssurround';
    font-weight: 500;    
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
    cursor: pointer;
}
.top a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.top:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}